*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Code', monospace;
}

:root {
    color: white;
}

body {
    background-color: black;
}

.progress-container {
    position: fixed;
    inset: 0;
    z-index: 2;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-duration: 1s;
}

.progress-bar {
    height: 30px;
    width: 15vw;
    margin: 5px;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    cursor: crosshair;
}

.menu {
    position: absolute;
    backdrop-filter: blur(16px);
    outline: 2px solid white;
    z-index: 1;
}

.settings {
    bottom: 0;
    right: 0;
    padding: 0.75rem;
    border-radius: 0.5em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.settings label,
.settings label input {
    cursor: pointer;
}

.settings label {
    font-size: 1.5rem;
}

.settings input[type='checkbox'] {
    transform: scale(2);
}

.settings label:last-child {
    display: flex;
    align-items: center;
}

.settings select {
    height: 1.5rem;
    font-weight: bold;
}

.settings select option {
    font-weight: bold;
}

.planets {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0.5em 0;
}

.planets span {
    cursor: help;
    padding: 3px 8px 3px 4px;
    transition: color 100ms;
    position: relative;
}

.planets span:hover {
    color: black;
    font-weight: bold;
}

.planets span::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    transition: 200ms;
    background-color: #99ff00;
    z-index: -1;
}

.planets span:hover::before {
    width: 100%;
}
