*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    background-color: black;
}

.progress-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    transition-delay: 1s;
    transition-duration: 1s;
}

.progress-container label {
    color: white;
    text-align: center;
    font-size: 3.5em;
}

.progress-bar {
    height: 30px;
    width: 15vw;
    margin: 5px;
}

.current-text {
    color: white;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    cursor: crosshair;
}

.container {
    position: absolute;
    backdrop-filter: blur(16px);
    padding: 1rem;
    outline: 2px solid white;
}

.toggle input[type="checkbox"]:not(.toggle input:last-of-type) {
    margin-bottom: 10px;
}

.toggle input[type="checkbox"] {
    transform: scale(2);
}

.author {
    bottom: 0;
    /* pointer-events: none; */
    left: 0;
    border-radius: 0 .5em 0 0;
}

.author span a:visited {
    color: #0022ff;
}

.author span,
.toggle label {
    font-size: 20px;
    color: white;
}

.toggle label {
    font-size: 25px;
}

.toggle {
    bottom: 0;
    right: 0;
    border-radius: .5em 0 0 0;
    text-align: end;
    user-select: none;
}

.toggle input {
    pointer-events: all;
    cursor: pointer;
    margin-left: 5px;
}

.toggle select {
    height: 25px;
    font-size: 1em;
    font-weight: bold;
    margin-right: -8px;
    transform: translateY(-2px)
}

.toggle select option {
    font-weight: bold;
}

.planets {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: .8em;
    border-radius: 0 0 .5em 0;
    padding: 0;
}

.planets span {
    color: white;
    letter-spacing: 1px;
    font-family: monospace;
    cursor: help;
    padding: 3px 8px 3px 4px;
    transition: color 100ms;
    position: relative;
}

.planets span:hover {
    color: black;
    font-weight: bold;
}

.planets span::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    transition: 200ms;
    background-color: #99ff00;
    z-index: -1;
}

.planets span:hover::before {
    width: 100%;
}